[MESSAGES CONTROL]

disable=
    line-too-long,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-positional-arguments,
    too-many-locals,
    too-many-return-statements,
    too-many-branches,
    too-many-statements,
    invalid-name,
    protected-access
