configobj~=5.0.9
configparser~=7.1.0
psutil~=6.1.1
requests~=2.32.4
DateTime~=5.5
colorlog~=6.9.0
aiofiles~=24.1.0
joblib~=1.5.3
numpy~=2.2.3
pathlib~=1.0.1
safetensors~=0.5.3
tqdm~=4.66.6
WMI~=1.5.1
prettytable~=3.15.1
matplotlib~=3.10.1
networkx~=3.2.1
pandas~=2.3.3
cryptography~=44.0.2
scapy~=2.5.0
sentence-transformers~=5.0.0