on: ["push", "pull_request"]

name: Test Coveralls

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v1

    - name: Use Node.js 16.x
      uses: actions/setup-node@v3
      with:
        node-version: 16.x

    - name: insatll and run coveralls
      run: |
        pip install coveralls
        pip install pytest
        coverage run --source=mypkg -m pytest tests/
        coveralls

    - name: Coveralls
      uses: coverallsapp/github-action@v2
